@charset "UTF-8";

/** 
 * NVIDIA Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 */

@import "default.css";


ul.dropdown li a {
/* background-color:#626262; */
color:#FFFFFF;
display:block;
padding:5px 10px;
text-align:center;
text-decoration:none;
width:107px;
}


/* ------------- Override default */

	ul.dropdown li {
	 padding: 0;
	}


/* ------------- Reinitiate default: post-override activities  */

	ul.dropdown li.dir {
	 padding: 7px 14px 7px 14px;
	}
	
	ul.dropdown li.logout {
	 padding: 7px 2px 7px 2px;
	}
	
	ul.dropdown ul li.dir {
	 padding-right: 15px;
	}


/* ------------- Custom */

	ul.dropdown li {
	background-image:url(../../images/bg_menu.gif);
	}

	ul.dropdown ul a {
	background-color:#767676;
	opacity:0.8;
	padding:4px 5px 4px 5px;
	width:118px;
	opacity:0.8;filter:alpha(opacity=80);
	}

	ul.dropdown ul a:hover {
	 background-color: #006ba0;
	 
	}

	ul.dropdown a.open {
	 background-color: #2e2e2e;
	 color: #FFFFFF;
	}

	ul.dropdown ul a.open {
	 background-color: #76b900;
	 color: #FFFFFF;
	}


	/* CSS 2.1 */

	ul.dropdown li:hover > a.dir {
	 background-color: #2e2e2e;
	 color: #FFFFFF;
	}

	ul.dropdown li > a.logout {
	 padding: 5px 2px 5px 2px;
	 background-color: #8b9f3e;
	 color: #FFFFFF;
	}
	
	ul.dropdown li:hover > a.logout {
	 background-color: #8b9f3e;
	 color: #FFFFFF;
	}
	
	ul.dropdown ul li:hover > a.dir {
	 background-color: #76b900;
	 color: #fff;
	}