/* CSS Document */
body {	font-family: verdana;
		padding: 0px;
		margin: 0px;
		background-color:#FFF;}
	

a {	text-decoration:none;
		font-size:11px;
		color:#1075ce; }

td { font-family:tahoma;
	 font-size:11px;
}
		
a:hover { text-decoration:none;
			  color:#000000; }
	
	.login { font-family:tahoma;
			 font-size:11px;
			 font-weight:;}
			  
	.footer { width: 100%; 
			  clear: both;
			  font-family: Tahoma;
			  font-size:11px;
			  background-color:#e5e5e5;
			  border-top: solid 1px #cccccc;
			  padding-top:20px;
			  padding-bottom:20px;  }

#tab-marquee {font-family: tahoma;
			  font-size:11px;
			  font-weight:bold;
			  vertical-align:middle;
}

a.link1 {
display:inline-block;
background:url(../images/aboutus2.gif) bottom no-repeat;
width:66px;
height:10px;
text-decoration:none;
margin:auto;
}
a.link1:hover {
background-position:bottom;
background:url(../images/aboutus.gif);
}
a.link1 span {
visibility:hidden;
}
a.link2 span {
visibility:hidden;
}
a.link3 span {
visibility:hidden;
}
a.link4 span {
visibility:hidden;
}
a.link5 span {
visibility:hidden;
}

a.link2 {
display:inline-block;
background:url(../images/terms2.gif) bottom no-repeat;
width:141px;
height:10px;
text-decoration:none;
margin:auto ;
}
a.link2:hover {
background-position:bottom;
background:url(../images/terms.gif); }

a.link3 {
display:inline-block;
background:url(../images/contactus2.gif) bottom no-repeat;
width:81px;
height:10px;
text-decoration:none;
margin:auto;
}
a.link3:hover {
background-position:bottom;
background:url(../images/contactus.gif); }

a.link4 {
display:inline-block;
background:url(../images/b.gif) bottom no-repeat;
width:221px;
height:60px;
text-decoration:none;
margin:auto;
}
a.link4:hover {
background-position:bottom;
background:url(../images/b2.gif); }

a.link5 {
display:inline-block;
background:url(../images/r.gif) bottom no-repeat;
width:221px;
height:60px;
text-decoration:none;
margin:auto;
}
a.link5:hover {
background-position:bottom;
background:url(../images/r2.gif); }
