#page-wrap {
	margin:15px auto 0px auto;
	width:990px;
}

#header {
	height:25px;
	padding-left:0px;
	padding-top:0px;
	margin:0px auto 0px auto;
}

#footer {
	clear:both;
	text-align:center;
	height:25px;
	padding-left:0px;
	padding-top:20px;
	margin:0px auto 0px auto;
}

#logo-top {
	float:left;
}	
#menu-right {
	float:right;
	font-weight:bold;
}	

#header_info {
	height:21px;
	padding-left:0px;
	padding-top:0px;
	margin:4px auto 0px auto;
	border:1px solid #bababa;
}
#header_news { 
	float:left;
	width:425px;
	background-image:url(../images/bg_news_event.gif);
	color:#FFFFFF;
	padding:4px 4px 4px 4px;
}
#header_no_ihsg{ 
	float:left;
	width:100%;
	background-image:url(../images/bg_news_event.gif);
	color:#FFFFFF;
	padding:4px 0px 4px 0px;
}
#header_IHSG_Title {
	float:left;
	background-color:#FF0000;
	color:#FFFFFF;
	padding:4px 4px 4px 4px;
	width:72px;
	border-left:1px solid #bababa;
	border-right:1px solid #bababa;
	text-align:center;
}
#header_IHSG_Title_green {
	float:left;
	background-color:#009a00;
	color:#00FF00;
	padding:4px 4px 4px 4px;
	width:72px;
	border-left:1px solid #bababa;
	border-right:1px solid #bababa;
	text-align:center;
}
#header_IHSG_Title_red {
	float:left;
	background-color:#009a00;
	color:#FF0000;
	padding:4px 4px 4px 4px;
	width:72px;
	border-left:1px solid #bababa;
	border-right:1px solid #bababa;
	text-align:center;
}
ul.header_IHSG_Detail {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.header_IHSG_Detail li {
 float: left;
 vertical-align: middle;
 padding:4px 8px 4px 8px;
 font-weight:bold;
}

#content {
display:block;
}

#content_left {
float:left;
width:242px;
margin-right:10px;
margin-top:12px;
}

#content_left2 {
float:left;
width:266px;
margin-right:10px;
margin-top:12px;
}

#content_left3 {
float:left;
width:170px;
margin-right:10px;
margin-top:12px;
}

#content_left4 {
float:left;
width:170px;
margin-right:10px;
margin-top:12px;
}

#content_left5 {
float:left;
width:266px;
margin-top:12px;
text-align:center;
}

#content_left3bottom {
float:left;
margin-right:10px;
bottom: 0px;
position:static;
color:#1e7cd3;
}

#home_left {
float:left;
width:489px;
margin-top:12px;
}

#home_right {
float:right;
width:489px;
margin-top:12px;
}

.home_title {
background-image:url(../images/bg_home_title.gif);
background-repeat:repeat-y;
padding:3px 0px 3px 10px;
font-weight:bold;
color:#FFFFFF;
}

.home_title2 {
margin-top:12px;
background-color:#676767;
padding:5px 0px 5px 10px;
font-weight:bold;
color:#FFFFFF;
}

dl {
margin:0;
width:470px;
}

dt {
  margin:0; 
  padding:0; 
  color:#0861c9;
  font-weight:bold;
  margin-top:10px;
  text-align:justify;
}
  
dd {
  margin:0; 
  padding:0; 
  text-align:justify;
  margin-right:10px;
}

#content_middle {
float:left;
margin-top:0px;
margin-right:10px;
overflow:hidden;
}

#content_middle2 {
margin:0 auto 0 auto;
overflow:hidden;
width:700px;
}

#content_middle_part {
clear:both;
}

#content_left_part {
margin-top:47px;
}

#content_right {
float:left;
margin-top:0px;
overflow:auto;
}

#content_right3 {
float:left;
margin-top:12px;
overflow:auto;
border:1px solid #c4c4c4;
}

#content_right4 {
float:left;
margin-top:12px;
overflow:auto;
}

#content_right_top{
margin-top:12px;
}

#content_right_left {
float:left;
margin-top:0px;
margin-right:12px;
width:351px;
}

#content_right_left2 {
float:left;
margin-top:0px;
margin-right:12px;
width:266px;
}

#content_right_right {
float:right;
margin-top:0px;
width:351px;
}

#content_right_right2 {
float:right;
margin-top:12px;
width:435px;
}

#content_right_table {
clear:both;
}

#chart_container {
	margin:5px 10px 5px 10px;
}

.stock_detail {
	border:1px solid #c1c1c1;
	margin-top:1px;
}

.stock_detail2 {
	margin-top:12px;
}

.stock_detail3 {
	border:1px solid #c1c1c1;
	margin-top:12px;
	margin-right:16px;
	float:left;
}

.stock_detail3_right {
	border:1px solid #c1c1c1;
	margin-top:12px;
	margin-right:0px;
	float:left;
}

.stock_detail4 {
	margin-top:12px;
	margin-right:16px;
	float:left;
}

.stock_detail4_right {
	margin-top:12px;
	margin-right:0px;
	float:left;
}

.stock_detail5 {
	margin-right:0px;
	float:left;
	border-left:1px solid #c1c1c1;
	border-right:1px solid #c1c1c1;
	border-bottom:1px solid #c1c1c1;
}

.stock_detail6 {
	margin-top:0px;
	text-align:center;
	font-weight:bold;
	border-bottom:1px solid #c1c1c1;
}

.stock_detail_code {
	background-color:#7a7a7a;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:7px;
	height:32px;
}

.stock_detail_code2 {
	background-color:#525252;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:7px;
	height:32px;
}

.stock_detail_code2_black {
	background-color:#000000;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:7px;
	height:32px;
}

.stock_detail_title{
	background-image:url(../images/bg_stock_detail.gif);
	color:#FFFFFF;
	font-weight:bold;
	height:26px;
	text-align:center;
}

.stock_detail_title_gold{
	background-image:url(../images/bg_stock_detail_gold.gif);
	color:#FFFFFF;
	font-weight:bold;
	height:26px;
	text-align:center;
}

.stock_detail_title_black{
	background-color:#000000;
	color:#FFFFFF;
	font-weight:bold;
	height:24px;
	text-align:left;
	line-height:22px;
}

.stock_detail_title_blue{
	background-image:url(../images/bg_stock_detail_blue.gif);
	color:#FFFFFF;
	font-weight:bold;
	height:29px;
	text-align:left;
	padding-left:20px;
}

.stock_detail_title_blue2{
	background-image:url(../images/bg_stock_detail_blue2.gif);
	color:#FFFFFF;
	font-weight:bold;
	height:24px;
	text-align:center;
}

.stock_detail_title_blue3{
	background-image:url(../images/bg_stock_detail_blue3.gif);
	color:#FFFFFF;
	width:100%;
	font-weight:bold;
	text-align:left;
	line-height:23px;
	padding-left:10px;
	margin-bottom:5px;
}

.stock_detail_title_blue4{
	background-image:url(../images/bg_stock_detail_blue4.gif);
	color:#FFFFFF;
	width:100%;
	font-weight:bold;
	text-align:left;
	line-height:23px;
	padding-left:10px;
	margin-bottom:5px;
}

.stock_detail_title_grey{
	background-color:#525252;
	color:#FFFFFF;
	font-weight:bold;
	height:26px;
	text-align:center;
}

.sum_title_blue{
	background-color:#0171d5;
	color:#FFFFFF;
	font-weight:bold;
	height:50px;
	text-align:center;
}

.stock_detail_line{
	font-weight:bold;
	color:#595959;
	padding-left:5px;
	border-collapse:collapse;
}

.stock_detail_line td {
	border-right:1px solid #c1c1c1;
}

.stock_detail_line2{
	font-weight:bold;
	color:#595959;
	text-align:right;
	border-collapse:collapse;
}

.stock_detail_line2 td {
	border-right:1px solid #c1c1c1;
}

.stock_detail_line3{
	background-image:url(../images/bg_stock_detail_blue2.gif);
	background-repeat:repeat-x;
	font-weight:bold;
	color:#ffffff;
	text-align:right;
}

.stock_detail_quick_order{
	background-image:url(../images/bg_stock_detail.gif);
	color:#FFFFFF;
	font-weight:bold;
	height:20px;
	text-align:center;
}

.warrant_title{
	font-weight:bold;
	color:#ffffff;
	margin-top:6px;
	padding:3px 0px 3px 0px;
	text-align:right;
}

.warrant_detail{
	font-weight:bold;
	color:#000000;
	text-align:right;
}

#sp_enter {
padding:4px 4px 4px 4px;
}

#sp_enter2 {
padding:4px 4px 4px 4px;
border:1px solid #000000;
}

#sp_enter_line {
margin-bottom:3px;
}

#sp_enter_lbl {
clear:both;
font-weight:bold;
float:left;
width:50px;
margin-right:5px;
margin-top:5px;
}

#sum_lbl {
clear:both;
font-weight:bold;
float:left;
width:30px;
margin-right:5px;
margin-top:5px;
}

#sp_post {
 border:1px solid #a5b97e;
 background-color:#ebeae3;
 text-align:center;
 padding:3px 0 3px;
}

.blank_line {
line-height:3px;
}

.sp_detail{
	font-weight:bold;
	color:#000000;
	text-align:right;
}

.sp_detail2{
	font-weight:bold;
	color:#000000;
	text-align:right;
	border-bottom:3px double #e3e3e3;	
}

.sp_detail_red{
	font-weight:bold;
	color:#ffffff;
	text-align:left;
	background-color:#880000;	
}

.sp_detail_green{
	font-weight:bold;
	color:#ffffff;
	text-align:left;
	background-color:#009900;	
}

.sp_detail_title_black{
	background-color:#000000;
	font-size:13px;
}

.sp_detail3{
	font-weight:bold;
	color:#000000;
	text-align:right;
}

.sp_detail4{
	color:#000000;
	text-align:right;
	border:1px solid #c1c1c1;
	line-height:18px;
}
.sp_detail_header{
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	background-image:url(../images/bg_stock_detail.gif);
	padding:6px 0 6px;
}

.sp_detail_header2{
	font-weight:bold;
	color:#FFFFFF;
	background-image:url(../images/bg_stock_detail_grey.gif);
	text-align:left;
	padding-left:10px;
}

.sp_detail_title{
	font-weight:bold;
	color:#ffffff;
	text-align:right;
	background-color:#696969;
}

.sp_detail_title_gold{
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	background-color:#a4a27c;
}

.inp_code{
	color:#595959;
	width:70px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	padding-left:3px;
}
.inp_code2 {
	color:#000000;
	width:80px;
	font-family: Tahoma, sans-serif;
	font-weight:bold;
	font-size:11px;
	margin-right:8px;
	margin-left:10px;
	border: 1px solid #a5b97e;
	height:16px;
}
.inp_code3{
	color:#000000;
	width:63px;
	font-family: Tahoma, sans-serif;
	font-weight:bold;
	font-size:11px;
	padding:3px 3px 3px 3px;
}
.inp_code4 {
	color:#000000;
	width:200px;
	font-family: Tahoma, sans-serif;
	font-weight:bold;
	font-size:11px;
	margin-right:8px;
	margin-left:10px;
	border: 1px solid #a5b97e;
	height:16px;
}

.stock_running {
	border:1px solid #c1c1c1;
	margin-top:12px;
	font-weight:bold;
	border-collapse:collapse;
}

.stock_running td {
	border-right:1px solid #c1c1c1;
}

.stock_running2_clear {
	clear:left;
	border:1px solid #c1c1c1;
	margin-top:25px;
	margin-right:12px;
	font-weight:bold;
	float:left;
}

.stock_running2 {
	border:1px solid #c1c1c1;
	margin-top:25px;
	margin-right:12px;
	font-weight:bold;
	float:left;
}

.stock_running_title {
	background-color:#7a7a7a;
	color:#FFFFFF;
	line-height:24px;
	text-align:right;
}

.stock_running_title2 {
    /* background-color:#7a7a7a; */
    /* color:#FFFFFF; */
    line-height:24px;
    text-align:right;
    font-weight:bold;
}

.stock_running_detail_grey {
	/*border-right:1px #999999 solid;*/
	/* background-color:#f5f5f5; */
	background-color:#e5e5e5;
	text-align:right;
	line-height:20px;
}	

.stock_running_detail_empty {
	background-color:#ffffff;
	height:8px;
}	

.stock_running_detail_white {
	/*border-right:1px #999999 solid;*/
	background-color:#ffffff;
	text-align:right;
	line-height:20px;
}	

.stock_running_detail_active {
	background-color:#ccccff;
	text-align:right;
	line-height:20px;
}	

#left_stock_position {
	border:1px solid #c1c1c1;
	margin-right:0px;
	margin-left:0px;
	margin-top:10px;
	padding-bottom:0px;
}

#portfolio_account {
	border:1px solid #c1c1c1;
	margin-right:0px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:10px;
	padding-bottom:0px;
}

.portfolio_part {
	border-bottom:1px solid #c1c1c1;
	font-weight:bold;
	text-align:center;
	line-height:24px;
	margin-top:4px;
}
.portfolio_part2 {
	border-bottom:1px solid #c1c1c1;
	border-top:3px double #c1c1c1;
	font-weight:bold;
	text-align:right;
	line-height:24px;
	margin-top:10px;
}


.portfolio_title {
	background-color:#7a7a7a;
	color:#FFFFFF;
}	

#input_account dl {
	float:left;
	height:2px;
	width:100%
}

#input_account dt {
	width:50px;
	font-weight:bold;
	float:left;
	margin:0 0 0 0;
}

input.txt
{
font-family: Tahoma, Arial, Helvetica, sans-serif;
border: 1px solid #a5b97e;
width:97px;
margin:0 0 0 0;
}

.datepop {
font-family: Tahoma, sans-serif;
font-size:11px;
border: 1px solid #a5b97e;
width:68px;
}

.datepop2 {
font-family: Tahoma, sans-serif;
font-size:11px;
border: 1px solid #a5b97e;
width:97px;
}

input.txt_short_bold
{
font-family: Tahoma, sans-serif;
font-size:11px;
border: 1px solid #a5b97e;
width:67px;
margin:0 0 0 0;
font-weight:bold;
}

input.txt_short_bold2
{
font-family: Tahoma, sans-serif;
font-size:11px;
border: 1px solid #a5b97e;
width:97px;
margin:0 0 0 0;
font-weight:bold;
}

input.txt_short
{
font-family: Tahoma, sans-serif;
font-size:11px;
border: 1px solid #a5b97e;
width:67px;
margin:0 0 0 0;
}

input.btn {
font-size:10px;
width:73px;
padding:1px 0px 1px 0px;
}


input.btn2 {
font-size:10px;
width:78px;
height:22px;
margin-top:0px;
margin-bottom:0px;
vertical-align:bottom;
padding-bottom:2px;
}
input.btn3 {
font-size:10px;
}

input.btn4 {
font-size:10px;
height:26px;
}

input.btn5 {
width:160px;
height:24px;
font-size:10px;
font-weight:bold;
color:#52513c;
}

input.btn6 {
font-size:10px;
margin-top:4px;
margin-bottom:4px;
padding:1px 0px 1px 0px;
}

input.btn7 {
font-size:10px;
margin-top:0px;
margin-bottom:0px;
padding:1px 0px 1px 0px;
}

input.btnQuick {
font-size:10px;
width:108px;
margin-top:0px;
margin-bottom:0px;
padding:1px 0px 1px 0px;
}

select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	border: 1px solid #a5b97e;
	height:20px;
	width:100px;
}

select.select1 {
font-weight:normal;
}

select.select2 {
width:170px;
font-size:10px;
}

#box_right {
float:right;
width:160px;
}

#box_left {
float:left;
width:250px;
}

.col_green {
	/*color:#01ba3a;*/
	color: #009900;
}
.col_purple {
	color:#7334ff;
}
.col_red {
	/*color:#e54044;*/
	color:#FF0000;
}
.col_grey {
	color:#585858;
}
.col_yellow {
	/*color:#c6a812;*/
	color:#000000;
}
.col_black {
	color:#202020;
}
.col_blue {
	color:#0000FF;
}

/*.col_yellow {
	color:#FFFF00;
}*/

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

.tabber {
}
.tabberlive {
 margin:0 0 0 0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0px;
 margin-left:-35px;
 padding: 0 0;
 font: bold 11px Tahoma, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin-left: 0px;
 display:inline;
}

ul.tabbernav li a
{
 padding: 3px 13px;
 margin-left:0px;
 margin-right:2px;
 background: #DDDDDD;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #595959; }
ul.tabbernav li a:visited { color: #595959; }

ul.tabbernav li a:hover
{
 color: #000;
 background-color: #777777;
 border-color: #227;
 margin-left:0px;
 color: #FFFF00;
 font-weight:bold;
}

ul.tabbernav li.tabberactive a
{
 color: #FFFF00;
 background-color: #777777;
 margin-left:0px;
 
}

ul.tabbernav li.tabberactive a:hover
{
 color: #FFFF00;
 background: #777777;
 margin-left:0px;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding-top:5px;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */
 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */
 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
/* .tabberlive#tab2 { */
.quick_order_tab#tab2 {
 font-size:40px;
 background-color: #ff0000;
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}


.table_num {
font-weight:bold;
text-align:center;
}

.table_num td {
height:20px;
}

.inside_left {
float:left;
}
.inside_left30 {
float:left;
width:30px;
}

table.tablecol {
	font-weight:bold;
	text-align: right;
	float:left;
}

table.tablecol tbody td {
	color: #3D3D3D;
	padding: 0px;
	height:28px;
	vertical-align:middle;
}

/*--------------------------------------------------
  START TABLE SORTER
  --------------------------------------------------*/
table.tablesorter {
	font-weight:bold;
	text-align: right;
	float:left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {

}
table.tablesorter thead tr .header {
	background-color:#cccccc;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 0px;
	height:20px;
	vertical-align:middle;
}
table.tablesorter tbody tr.odd td {
	background-color:#f5f5f5;
}
table.tablesorter tbody tr.even td {
	background-color:#ffffff;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdee;
}

/* tambahan sort from outside link*/
.sort_header {
	
	margin-top:0px;
	margin-right:0px;
	font-weight:bold;
}

.sort_header_title {
	background-color:#7a7a7a;
	color:#FFFFFF;
	line-height:24px;
	text-align:right;
	cursor: pointer;
}	

.sort_header_title_red {
	background-color:#880000;
	color:#FFFFFF;
	line-height:24px;
	text-align:right;
	cursor: pointer;
}	

.sort_header_title_red a {
	text-decoration:none;
	color:#FFFFFF;
}

.sort_header_title a {
	text-decoration:none;
	color:#FFFFFF;
}

.sort_header_title a:hover {
	color:#000000;
}
.sort_header_title a:active {
	color:#000000;
}


/*--------------------------------------------------
  END TABLE SORTER
  --------------------------------------------------*/


#timeout_expired
{
	font-size:12px;
	display:none;
	width:250px;
	position:absolute;
	z-index:200;
	left:412px;
	top:250px;
	color:#000;
	background-color:#fff;
	border:1px solid #000;
}
