/* CSS Document */
body {	font-family: Georgia;
		padding: 0px;
		margin: 0px; }
	
	p {	font-size:12px;
		line-height:200%;
		margin-bottom:5px;}
		
	.p2 {	font-size:12px;
			line-height:200%;
			margin-bottom:5px;
			margin-top:20px;}

	a {	text-decoration:none;
		font-size:13px;
		color:#000000; }
	a:hover { text-decoration:none;
			  color:#000000; }
	
	li { font-size:12px; 
		 line-height: 200%;
		 }
		 
	.head { padding-left:25px;
			padding-bottom:5px;
			padding-top:5px;
			padding-right:50px;
			}

	.indent { margin-left:15px; 
			  list-style-type:none; }
			  
	.dent	{ padding-left:39px;
			  list-style-type:none; }
			
	.sub-menu { font-size:20px;
				color:#1075ce; }
	.sub-sub-menu { font-size:15px;
					font-weight:bold;
					padding-top:10px;}
				
	.sub1 a {	text-decoration:none;
				font-size:11px;
				font-family:tahoma;
				font-weight:;
				color:#000000; }
				
	.sub1 a:hover { background:#f5f5f5;
					color:#0068c4;
					padding-top:3px;
					padding-bottom:3px;
					}
	.sub2 { font-size:17px;
			color:#1075ce;
		}
	.sub2 a { font-size:17px;
			  color:#1075ce; }
	
	a.onpage { 	color:#92e142; }
	
	.leftmenu {  padding-left:0px;
				 float:left;
				 position:absolute;
				 width:200px;
				 margin:; 
				 font-size:12px;
				 margin-top:10px;
				 padding-right:20px; }
				 
	.leftmenu li { 	list-style-type:none; 
					line-height:170%; }
	.sshots {  border:solid 1px #DDDDDD; }
	.content { overflow:auto;
			   padding-left:25px;
			   margin-left:220px;
			   margin-bottom:40px;
			   border-left-style:dotted;
 			   border-left-width:thin; }	
			   
	.header { width: 100%; 
			  padding-top:7px;
			    }
			  
	.title { background:#000000;
			 padding-top:5px;
			 width:100%;
			 }	
			 
	.title p { 	line-height:normal;
				padding-bottom:15px;
				border-bottom:solid 2px #DDDDDD;
				}
			  
	.footer { width: 100%; 
			  clear: both;
			  font-family: Tahoma;
			  font-size:11px;
			  background-color:#e5e5e5;
			  border-top: solid 1px #cccccc;
			  padding-top:20px;
			  padding-bottom:20px;  }

